<!DOCTYPE html>
<html>
  <head>
    <title>Incorrect Repo URL</title>
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>

  <body>
    <center>
        <h1> Error: No Such Repo Found. </h1>
        <form method="POST" action="/search">
            <p>Repo URL (e.g. LeonSinclair/github-access): <input type = "text" name = "repo_searched"></p>
            <button type = "submit"> Search! </button>
        </form>
        
        
    </center>
  </body>
</html>