<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
    <style>
    svg {
      padding: 20px;
    }
    rect {
      fill: #2d578b
    }
    text {
      fill: white;
    }
    text.yAxis {
      font-size: 12px; 
      font-family: Helvetica, sans-serif;
      fill: black;
    }
    .cell {
      position: absolute;
    }
    </style>
  </head>
  <body>
    
  </body>
</html>