<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra ERB Chartkick Test</title>
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>

  <body>
    <center>
      <h1> Language Byte - Pie Chart </h1>
      <p>
        <%= pie_chart (@language_obj) %>
      </p>
      <h1> Languages - Column Chart </h1>
      <p>
        <%= column_chart (@languages), xtitle: "Language", ytitle: "Appears in" %>
      </p>

      <h1> God knows what </h1>
      <p>
           <%= bar_chart (@languages), xtitle: "Language", ytitle: "Appears in" %>
      </p>
    </center>
  </body>
</html>