<!DOCTYPE html>
<html>
  <head>
    <title>Repo Search Results</title>
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>

  <body>
    <center>
        <h1> <%= @repo_search.split("/") %> Commit History </h1>
        <p>
            <%= line_chart @commits_data %>
        </p>
        <h1> <%= @repo_search %> Language Breakdown - Bytes </h1>
      <p>
        <%= pie_chart (@language_obj) %>
      </p>
    </center>
  </body>
</html>