<!DOCTYPE html>
<html>
  <head>
    <title>Repo Search Results</title>
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>

  <body>
    <center>
        <h1> <%= @repo_search %> Stats </h1>
        <p>
            <%= line_chart @commits_data.group_by_day %>
        </p>
    </center>
  </body>
</html>